<div class="wrap"><H3>
 From here you can configure your different ULTIMATE FREE VIDEO GALLERIES, create new or delete existing ones. Above each gallery is the code to insert in your posts.</H3><br/><a href="http://www.pluginswp.com/ultimate-full-video-gallery/">Download ULTIMATE FULL VERSION and more Wordpress widgets and plugins.</a><br/><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='Create New ultimate' />
    </form>
</div>
<hr>
